<div class="container my-5 d-flex gap-3">
  <div class="col-3">
    <app-products-categories
      [categories]="categoryCounts"
      (categorySelected)="onCategorySelected($event)"
    ></app-products-categories>
  </div>
  <div class="w-100">
    <div class="d-flex justify-content-between align-items-center w-100 mb-2">
      <div>({{ products.length }}) Products Found</div>
      <div class="d-flex align-items-center">
        <b style="min-width: fit-content">Sort By:</b>

        <select
          class="form-select border-0"
          aria-label="Default select example"
          (change)="onSortChange($event)"
        >
          <option selected value="popularity">Popularity</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="page"
    [pageSize]="pageSize"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="onPageChange($event)"
    aria-label="Default pagination"
  ></ngb-pagination>
</div>
