<header class="header">
  <div class="left-section d-flex align-items-center gap-5">
    <app-logo></app-logo>
    <nav>
      <a routerLink="/products" routerLinkActive="active">Home</a>
    </nav>
  </div>

  <div class="right-side d-flex align-items-center gap-3">
    <div class="search" *ngIf="authenticatedUser">
      <div class="position-relative">
        <i class="bi bi-search position-absolute icon-left text-secondary"></i>
        <input
          type="text"
          [(ngModel)]="searchControl"
          (ngModelChange)="this.userQuestionUpdate.next($event)"
          placeholder="Search products..."
          aria-label="Search products"
          class="form-control ps-5"
          placeholder="Search..."
        />
      </div>
    </div>
    <div class="position-relative" *ngIf="authenticatedUser">
      <i class="bi bi-cart-fill position-relative text-secondary fs-4"></i>
      <span
        class="position-absolute top-75 start-100 translate-middle badge rounded-pill"
      >
        {{ cartItems }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </div>

    <div class="login">
      <a
      *ngIf="authenticatedUser"
      (click)="logout()">Account</a>
      <a
      *ngIf="!authenticatedUser"
      routerLink="auth/login">Log in</a>
    </div>
  </div>
</header>
